# Importing Libraries

In [5]:
import os
import pandas as pd
import numpy as np
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

# Define Function to Download Data from Kaggle

In [6]:
def download_health_dataset():
    kaggle_dataset = 'prasad22/healthcare-dataset'  
    data_dir = 'data'

    if not os.path.exists(data_dir):
        os.makedirs(data_dir)

    # Authenticate using Kaggle API
    api = KaggleApi()
    api.authenticate()

    # Download and unzip dataset
    api.dataset_download_files(kaggle_dataset, path=data_dir, unzip=True)

# Call the function to download the dataset
download_health_dataset()

Dataset URL: https://www.kaggle.com/datasets/prasad22/healthcare-dataset

# Load Data

In [7]:
# Define the expected dataset filename
data_file = os.path.join('data', 'healthcare_dataset.csv')

# Load the dataset
df_raw = pd.read_csv(data_file)

In [8]:
df_raw.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [9]:
df_raw.dtypes

Name                   object
Age                     int64
Gender                 object
Blood Type             object
Medical Condition      object
Date of Admission      object
Doctor                 object
Hospital               object
Insurance Provider     object
Billing Amount        float64
Room Number             int64
Admission Type         object
Discharge Date         object
Medication             object
Test Results           object
dtype: object

In [10]:
# Convert date columns to datetime
df_raw["Date of Admission"] = pd.to_datetime(df_raw["Date of Admission"])
df_raw["Discharge Date"] = pd.to_datetime(df_raw["Discharge Date"])

In [11]:
df_raw.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [12]:
#target columns
df_raw['target']=df_raw['Admission Type'].apply(lambda x: 1 if x == 'Emergency' else 0)

In [13]:
df_raw.drop(['Name','Doctor', 'Room Number'], axis=1, inplace=True)

In [14]:
df_raw.to_csv(os.path.join('data', 'processed_data.csv'), index=False)